<% cache do %>
  <div class="small-container">
  	<div class="page-header">
  	  <h1>Contact</h1>
  	</div>

    <p class="bigger-text justified">If you have any questions, concerns, comments, or suggestions, then feel free to send us a message and we will get back to you as soon as we can.
    </p>

    <div id="error_message"></div>
    <br>

  	<%= form_tag("/message_sent") do %>
      <div class="form-group">
        <%= label_tag :name %>
        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
      </div>      
      <div class="form-group">
        <%= label_tag :email, "Email Address" %>
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
      </div>
      <div class="form-group">
        <%= label_tag :message %>
        <%= text_area_tag :message, nil, class: "form-control no-resize", rows:"6", placeholder: "Enter Message" %>
      </div>

  	  <div class="center-content">
  	    <%= submit_tag "Send", class: "btn btn-primary", id: "contact-button"%>   
  	  </div>
  	<% end %>

    <br>
    <hr>

  	<div class="center-content">
  		<%= link_to 'Back', :back  %>
  	</div>
  </div> <!-- end small-container -->

  <br>
<% end %>