<div class="mini-container">
  <div class="page-header">
    <h1>Forgot Your Password?</h1>
  </div>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="field form-group">
	    <%= f.label :email %>
	    <%= f.email_field :email, autofocus: true, class: "form-control" %>
	  </div>

	  <br>

	  <div class="actions center-content">
	    <%= f.submit "Send Reset Password Instructions", class: "btn btn-lg btn-block btn-primary" %>
	  </div>
	<% end %>

  <br>
  <hr>

  <div class="center-content">
    <%= render "devise/shared/links" %>
  </div>

</div> <!-- end mini-container -->

<br>