<div class="row">
	<div class="col-xs-12">		

		<div class="page-header">
		  <h3>Customer Reviews</h3>
		</div>

		<% @comments.each do |comment| %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><%= comment.title %></h3>
					<%= comment.user.first_name %> 
					<small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
					<br>
					<div class="rated" data-score="<%= comment.rating %>"></div>
				</div>
				<div class="panel-body">
					<%= comment.body %>
				</div>
			</div>
		<% end %>

	</div>
</div>		