<div class="row product-detail-row">
	<div class="col-xs-12 col-md-4">
    <% if (@product.image_url == "") || (@product.image_url == nil) %>
      <div class="no-big-image img-centered grey-border">
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
      </div>
    <% else %>
      <%= image_tag @product.image_url, class: "img-responsive img-centered grey-border" %>
    <% end %>
	</div> <!-- end product image -->

	<div class="col-xs-12 col-md-8">
		<div class="page-header">
		  <h1><%= @product.name %> <small><%= @product.sport %></small></h1>
		  <div class="rated" data-score="<%= @product.average_rating %>"></div>
		</div>
		<h3 class="product-price"><%= number_to_currency(@product.price, format: "%u %n") %></h3>
	  <p class="justified"><%= @product.description %></p>
	  <br>
	  <h4>Full Item Information</h4>
	  <p class="justified"><%= @product.detailed_description %></p>
	  <br>
	</div> <!-- end product information -->
</div>

<%= render 'new_comment' %>
<%= render 'comments' %>		

<hr>

<div class="center-content">
	<% if signed_in? && current_user.admin? %>
	<%= link_to 'Edit', edit_product_path(@product) %> | 
	<% end %>
	<%= link_to 'Back', products_path %>
</div> <!-- end bottom links -->

<br>
