<% if notice != nil %>
	<br>
	<div class="alert alert-info" id="notice" role="alert"><%= notice %></div>
<% end %>

<div class="row product-detail-row">
	<div class="col-xs-12 col-md-4">
    <% if (@product.image_url == "") || (@product.image_url == nil) %>
      <div class="no-big-image img-centered grey-border">
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
      </div>
    <% else %>
      <%= image_tag @product.image_url, class: "img-responsive img-centered grey-border" %>
    <% end %>
	</div> <!-- end product image -->

	<div class="col-xs-12 col-md-8">
		<div class="page-header">
		  <h1><%= @product.name %> <small><%= @product.sport %></small></h1>
		</div>
		<h3 class="product-price"><%= number_to_currency(@product.price, format: "%u %n") %></h3>
	  <p class="justified"><%= @product.description %></p>
	  <br>
	  <h4>Full Item Information</h4>
	  <p class="justified"><%= @product.detailed_description %></p>
	  <br>
	</div> <!-- end product information -->
</div>

<br>
<hr>

<div class="center-content">
	<%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Back', products_path %>
</div> <!-- end bottom links -->

<br>
