<nav class="navbar navbar-default navbar-fixed-top"> 
  <div class="container">
  <!-- responsive nav bar -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Paddles Up", root_path, class: "navbar-brand" %>
    </div> <!-- end navbar-header -->

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search an item...">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sell",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log In", '#' %></li>
        <li><%= link_to "Cart",   '#' %></li>
      </ul>
    </div> <!-- end regular navbar-nav --> 
  </div> <!-- end container for navbar -->
</nav>