<!DOCTYPE html>
<html>
<head>
  <title>Paddles Up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
<body>
  <!-- start navigation bar -->
  <nav class="navbar navbar-default navbar-fixed-top"> 
    <div class="container">
    <!-- responsive nav bar -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Paddles Up", root_path, class: "navbar-brand" %>
      </div> <!-- end navbar-header -->

      <div class="collapse navbar-collapse" id="navbar-collapse-1">


        <%= form_tag "/products", method: "get", class: "navbar-form navbar-left" do %>
          <div class="input-group">
            <%= text_field_tag :q, "", :class => "form-control", placeholder: "Search a paddle..." %>
            <span class="input-group-btn">
              <%= submit_tag "Go!", class: "btn btn-default" %>
            </span>
          </div><!-- /input-group -->
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "All Products", products_path %></li>
          <li>
            <% if user_signed_in? %>
              <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to 'Log In', new_user_session_path %>
            <% end %>
          </li>
        </ul>
      </div> <!-- end regular navbar-nav --> 
    </div> <!-- end container -->
  </nav>
  <!-- end navigation bar -->

  <div class="container">
    <%= yield %>
  </div>

  <!-- start footer -->
  <footer class="footer">
    <div class="container">
      <span>&copy; 2017 Paddles Up</span>
      <ul>
        <li><%= link_to "About",    about_path %></li>
        <li><%= link_to "Contact",  contact_path %></li>
      </ul>
     </div>
  </footer>
  <!-- end footer -->

</body>
</html>